<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /NguyenHienThuc_2280603165_Bai4/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
